[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw
[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm
[submodule "dependencies/gl3w"]
	path = dependencies/gl3w
	url = https://github.com/skaslev/gl3w
